<%= form_with(model: product) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.text_field :title, class:"form-control", placeholder:"Title" %><br>
  </div>

  <div class="field form-group">
    <%= form.text_field :description, class:"form-control", placeholder:"Description" %><br>
  </div>

  <div class="field form-group">
    <%= form.number_field :price, class:"form-control", placeholder:"Price" %><br>
  </div>

 <div class="field form-group">    
    <%= form.number_field :inventory, class:"form-control", placeholder:"Inventory" %><br>
  </div>

 <div class="field form-group">
    <%= form.label "Product Picture" %><br>
    <%= form.file_field :product_picture %><br>
  </div>

  <div class="actions">
  <br>
    <%= form.submit %>
  </div>
<% end %>
